html {
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

:root {
  --orange: #e14d2a;
  --chakra-font: "Chakra Petch", sans-serif;
  --bai-font: "Bai Jamjuree", sans-serif;
}
